body{
	background-image: url("../pixels/dungeonwall.png");
	background-size:3%;
	margin: 0 auto;
	font-family:'Merchant-Copy-Normal';
	cursor: url('../auka/cursor.ico'), default;
}
@font-face{
	font-family: 'Merchant-Copy-Normal';
  	src: url('../auka/Merchant Copy.ttf');
}
@font-face{
  font-family: 'Merchant-Copy-Large';
  src: url('../auka/Merchant Copy Doublesize.ttf');
}
@media all and (min-width: 1180px){


div.scroll{
	background-image: url("../pixels/pixel scroll.png");
	background-size: 100%;
	height: 1150px;
	padding-top:30px;
	padding: 10px;
	width: 960px;
	margin: auto;
}
h2{
	font-family: 'Merchant-Copy-Large';
	font-size: 36px;
}
h3{
	font-family: 'Merchant-Copy-Large';
	font-size: 30px;
	margin-top: 0;
}
.h4{
	font-family: 'Merchant-Copy-Large';
	font-size: 16px;
	position: relative;
	top: -20px;
}
a{
	text-decoration: none;
	color: black;
	cursor: url('../auka/cursor.ico'), default;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-direction: column;
  text-align: center;
  animation-name: fadeout;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-top: 270px;
}
.wrapper2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-direction: column;
  text-align: center;
  animation-name: fadeout;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-top: 230px;
}
img{
	width: 260px;
	height: 260px;
}
.textmanager{
	font-family:'Merchant-Copy-Normal',;
	font-size: 30px;
	max-width: 680px;
	margin-left:135px; 
}
.button{
	background-image: url("../pixels/button.png");
	background-size: 100% 100%;
    border: 3px solid #4c3214;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
}
}/*-----Endir media 1180px-----*/